---
layout: default
---
<body id="body" class="home_2">
	<div class="home">
	   <div class="container main_slider">
		   <div class="fluid_container  hidden-xs">
			   <div id="bannerindex"><img src="/img/dbpedia_plain.png" class="banner-home" /></div>
			   <a href="http://wiki.dbpedia.org/why-is-dbpedia-so-important"><img alt="" src="/img/DBpedia_Community_Banner_420x85mm_20160616_L2.jpg"></a>
		   </div>
	<div class="breadcrumb_area  hidden-xs">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="col-sm-9">
						<div class="call-text">
							<h3>{{site.wikipedia[site.active_lang]}}</h3>
							<p>{{site.dbpedia[site.active_lang]}}</p>
						</div>
					</div>
					<div class="col-sm-3 ">
					<a href="/downloads" class="btn-download">DOWNLOAD</a>
					</div>
				</div>
			</div>
		</div>
	</div>
		<section class="container notice-area">
			<div class="content-block section-padding">
				<div class="container">
					<div class="row ">
						<div class="title-home col-md-12">
							<h3>{{ site.noticias[site.active_lang]}}</h3>
							<center><hr class="border"/></center>
						</div>
					</div>
					<div class="row">
						<div class="col-md-10">
							{% assign counter = 0 %}
							{% for post in paginator.posts %}
							   	<div class="content-box col-md-5 col-xs-12">
									<div class="section_title2">
										<h6>{{ post.date | date: "%b %-d, %Y" }}</h6>
										<h2>{{ post.title }}</h2>
									</div>
									<div class="block-text2">
										<p>
										{{ post.resume }}
										</p>
										<a class="btn-more" href="{{ post.url | prepend: site.baseurl }}">{{ site.saiba_mais[site.active_lang]}}</a>
									</div>
								</div> 
							     {% assign counter = counter | plus: 1 %}
								{% if counter == 2 %} 
									{% assign counter = 0 %}
									 <div class="clearfix"></div>
							    {% endif %}  
							{% endfor %}
						</div>
						<div class="col-md-2  hidden-xs">
							<a class="twitter-timeline" href="https://twitter.com/DBpedia_pt" data-widget-id="723152685340364806">Tweets de @DBpedia_pt</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</div>
					</div>
                <div class="row">
                    {% if paginator.previous_page %}
                        <a href="{{ paginator.previous_page_path }}" class="prev">{{ site.anterior[site.active_lang]}}</a>
                      {% else %}
                      <span class="prev">{{ site.anterior[site.active_lang]}}</span>
                      {% endif %}  
                      <span class="span6 nospace pull-right">{{ paginator.page }} {{ site.de[site.active_lang]}} {{ paginator.total_pages }}</span>
                      {% if paginator.next_page %}
                        <a href="{{ paginator.next_page_path }}" class="next">{{ site.proximo[site.active_lang]}}</a>
                      {% else %}
                        <span class="next">{{ site.proximo[site.active_lang]}}</span>
                      {% endif %}
                </div>                      
				</div>
			</div>
        </section>
	</div>
       
		
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-85571961-1', 'auto');
  ga('send', 'pageview');

</script>		
</body>
