<footer class="footer_area">
	<div class="container spaca-footer">
		<div class="row">
			<div class="col-sm-3">
				<div class="footer_widget">
					<h4>{{site.titulo[site.active_lang]}}</h4>
					<p>{{site.descricao[site.active_lang]}}</p>
					<ul class="bottom_social">
					 <li><a href="https://github.com/dbpedia-pt" target="_blank"><img src="/img/icon-github.png" class="icon-social" /></a></li>
					 <li><a href="https://twitter.com/dbpedia_pt" target="_blank"><img src="/img/icon-twitter.png" class="icon-social" /></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="footer_widget">
					<h4>{{site.fundadores[site.active_lang]}}</h4>
					<ul class="importent_link">
						<li><a href="http://www.uni-leipzig.de"><img src="/img/universitat-leipzig.png" /></a></li>
						<li><a href="http://www.fu-berlin.de"><img src="/img/freie.png" /></a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="footer_widget">
					<h4>{{site.colaboradores[site.active_lang]}}</h4>
					<ul class="importent_link" style="display:inline-flex;">
						<li><a href="http://www.ufc.br" target="_blank"><img src="/img/ufce.png" /></a></li>
						<li><a href="http://www.ufjf.br" target="_blank"><img src="/img/ufjf.png" /></a></li>
						<li><a href="http://www.ufrj.br" target="_blank"><img src="/img/ufrj.png" /></a></li>
					</ul>
					<ul>
						<li><a href="https://br.okfn.org/" target="_blank"><img src="/img/okbr.png" /></a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="footer_widget">
					<h4>{{site.hospedagem[site.active_lang]}}</h4>
					<ul class="important_link" style="display:inline-flex;">
						<li><a href="http://www.rnp.br" target="_blank"><img src="/img/rnp.png" /></a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>
	<div class="powered">
		<div class="container ">
			<div class="row ">
				<div class="col-sm-12">
					<div class="ft_bottom text-center">
						<p>
							{{site.licenca[site.active_lang]}} <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>
						</p>
					</div>
				</div>
                            <a href="http://pt.dbpedia.org">
				    <img src="/img/portuguese.jpg" alt="Ver em português">
			    </a>
                            <a href="/en/">
				    <img src="/img/english.png"  alt="See in english">
                            </a>
			   </div>
		</div>
	<div>

    <script src="/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.meanmenu.min.js"></script>
    <script src="/js/jquery.easing.1.3.min.js"></script>
	<script src="/js/main.js"></script>
</footer>
