<header>
      <div class="menu_area ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="logo hidden-xs hidden-sm">
                            <a href="http://pt.dbpedia.org">
                                <img src="/img/logo-dbpedia.png" class="logomarca" alt="logo dbpedia" title="{{ site.titulo[site.active_lang]}}"/>
                            </a>
                        </div>
						<center><a href="http://pt.dbpedia.org" class="logomarca hidden-md hidden-lg"><img src="/img/logo-dbpedia.png" class="logomarca" alt="logo dbpedia" title="DBpedia Português"/></a></center>
                    </div>
                    <div class="col-sm-9 hidden-xs">
                        <div class="mainnmenu">
                                <nav>
                                    <ul class="menu">
									<li><a href="/" title="Home">Home</a></li>
									<li>
										<a href="/o_que_e" title="{{ site.o_que_e[site.active_lang]}}">{{ site.o_que_e[site.active_lang]}}</a>
										<ul class="sub_menu">
											<li><a href="/o_que_e/empresas" title="{{ site.empresas[site.active_lang]}}">{{ site.empresas[site.active_lang]}}</a></li>
											<li><a href="/o_que_e/pesquisadores" title="{{ site.pesquisadores[site.active_lang]}}">{{ site.pesquisadores[site.active_lang]}}</a></li>
										</ul>
									</li>
									<li>
										<a href="/como_participar" title="{{ site.participar[site.active_lang]}}">{{ site.participar[site.active_lang]}}</a>
										<ul class="sub_menu">
											<li><a href="/como_participar/documentacao/" title="{{ site.documentacao[site.active_lang]}}">{{ site.documentacao[site.active_lang]}}</a></li>
											<li><a href="/como_participar/qualidade" title="{{ site.qualidade[site.active_lang]}}">{{ site.qualidade[site.active_lang]}}</a></li>
											<li><a href="/como_participar/integracao" title="{{ site.integracao[site.active_lang]}}">{{ site.integracao[site.active_lang]}}</a></li>
										</ul>
									</li>
									<li><a href="/sobre" title="{{ site.sobre[site.active_lang]}}">{{ site.sobre[site.active_lang]}}</a></li>
									<li><a href="/exemplos" title="{{ site.exemplos[site.active_lang]}}">{{ site.exemplos[site.active_lang]}}</a></li>
									<li><a href="/downloads" title="{{ site.download[site.active_lang]}}">{{ site.download[site.active_lang]}}</a></li>
									<li><a href="/contato" title="{{ site.contato[site.active_lang]}}">{{ site.contato[site.active_lang]}}</a></li>
									</ul>
                                </nav>
                                <nav class="mb_menu hidden">
                                    <ul class="menu_for_mobile">
										<li class="active"><a href="/" title="Home">Home</a></li>
										<li>
											<a href="/o_que_e" title="{{ site.o_que_e[site.active_lang]}}">{{ site.o_que_e[site.active_lang]}}</a>
											<ul class="sub_menu">
												<li><a href="/o_que_e/empresas" title="{{ site.empresas[site.active_lang]}}">{{ site.empresas[site.active_lang]}}</a></li>
												<li><a href="/o_que_e/pesquisadores" title="{{ site.pesquisadores[site.active_lang]}}">{{ site.pesquisadores[site.active_lang]}}</a></li>
											</ul>
										</li>
										<li>
											<a href="/como_participar" title="{{ site.participar[site.active_lang]}}">{{ site.participar[site.active_lang]}}</a>
											<ul class="sub_menu">
												<li><a href="/como_participar/documentacao/" title="{{ site.documentacao[site.active_lang]}}">{{ site.documentacao[site.active_lang]}}</a></li>
												<li><a href="/como_participar/qualidade" title="{{ site.qualidade[site.active_lang]}}">{{ site.qualidade[site.active_lang]}}</a></li>
												<li><a href="/como_participar/integracao" title="{{ site.integracao[site.active_lang]}}">{{ site.integracao[site.active_lang]}}</a></li>
											</ul>
										</li>
										<li><a href="/sobre" title="{{ site.sobre[site.active_lang]}}">{{ site.sobre[site.active_lang]}}</a></li>
										<li><a href="/exemplos" title="{{ site.exemplos[site.active_lang]}}">{{ site.exemplos[site.active_lang]}}</a></li>
										<li><a href="/downloads" title="{{ site.download[site.active_lang]}}">{{ site.download[site.active_lang]}}</a></li>
										<li><a href="/contato" title="{{ site.contato[site.active_lang]}}">{{ site.contato[site.active_lang]}}</a></li>
                                    </ul>
                                </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>	
</header>
